*  {
    padding: 0px;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: #96CDFF;
}

.header {
    background-color: #96CDFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.title {
    color: white;
    font-size: 8rem;
    font-weight: bold;

}

.container {
    background-color: #96CDFF;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game { 
    display: grid;
    grid-template-columns: repeat(3, 220px);
    grid-template-rows: repeat(3, 220px);
    background-color: #96CDFF;
    width: 675px;
    height: 675px;
    margin: 50px;
    border-radius: 16px;
}

.slot {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 200px;
    width: 200px;
    margin: 16px;
    border-radius: 16px;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 200px;
    margin-bottom: 20px;
}

.end-game {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 500px;
    height: 300px;
    top: 1000rem;
    left: calc(50% - 250px);
    background-color: #B8B8FF;
    border-radius: 16px;
    border: solid 3px #9381FF;
}

.end-game#open {
    top: calc(50% - 80px);
    left: calc(50% - 250px);
}


h3 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    text-align: center;
    padding-top: 50px;
}

#reset {
    width: 150px ;
    font-size: 32px;
}